<!-- NAVIGATION
	<header>
		<div class="nav" id="nav">
			<div id="learned-logo">
			<a href="../index.html"><img src="../images/icon/logo.png" style="width: 120px;"></a></div>
			<div class="switch-tab" id="switch-tab" onclick="switchTAB()"><img src="../images/icon/menu.png"></div>
			<ul id="list-switch">
				<li><a href="jee.html"><img src="../images/courses/d1.png" class="icon">JEE</a></li>
				<li><a href="#"><img src="../images/courses/paper.png" class="icon">GATE</a></li>
				<li><a href="computer_courses.html"><img src="../images/courses/computer.png" class="icon">Computer Courses</a></li>
				<li><a href="computer_courses.html#data"><img src="../images/courses/data.png" class="icon">Data Structures</a></li>
				<li><a href="computer_courses.html#algo"><img src="../images/courses/algo.png" class="icon">Algorithm</a></li>
				<li><a href="computer_courses.html#projects"><img src="../images/courses/projects.png" class="icon">Projects</a></li>
			</ul>
			<div class="search" id="search-switch">
				<input type="text" placeholder="Search" class="srch"><button id="srchbtn"><img src="../images/icon/search.png"></button>
			</div>
		</div>
	</header> -->

    

<!-- Main Title of the Page -->
	<!-- <div class="title">
		<span>Projects to take you a step forward towards your goal</span> -->
		<!-- <div class="shortdesc">
			<p>Learn from ELearnNation for better higher studies in<br> Indian Institutes of Technologies(IIT)</p>
		</div> -->
	<!-- </div> -->
    
	<!DOCTYPE html>
	<html lang="en">
	  <head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<script src="https://kit.fontawesome.com/bdd89edb33.js"></script>
		<link
		  href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
		  rel="stylesheet"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Flipping Cards</title>
	  </head>
	  <body>
		<section class="section-plans" id="section-plans">
		  <div class="u-center-text u-margin-bottom-big">
			<h2 class="heading-secondary reflection">
			 Projects
			</h2>
		  </div>
	
		  <div class="row">
			<div class="col-1-of-3">
			  <div class="card">
				<div class="card__side card__side--front-1">
				  <div class="card__title card__title--1">
					<!-- <i class="fas fa-paper-plane"></i> -->
					<h4 class="card__heading">Java Project</h4>
				  </div>
	
				  <div class="card__details">
					<ul>
					  <li>Java Project</li>
					</ul>
					<img class="imgg" src="download.png" width="300px">
				  </div>
				</div>
				<div class="card__side card__side--back card__side--back-1">
				  <div class="card__cta">
					<div class="card__price-box">
					  <p class="card__price-only">Java Project</p>
					  <p class="card__price-value">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
					</div>
					<a href="#popup" class="btn btn--white">View More</a>
				  </div>
				</div>
			  </div>
			</div>
	
			<div class="col-1-of-3">
			  <div class="card">
				<div class="card__side card__side--front-2">
				  <div class="card__title card__title--2">
					<!-- <i class="fas fa-plane"></i> -->
					<h4 class="card__heading">HTML Project</h4>
				  </div>
	
				  <div class="card__details">
					<ul>
					  <li>HTML Project</li>
					  
					</ul>
					<img class="imgg1" src="logo.webp" width="275px">
				  </div>
				</div>
				<div class="card__side card__side--back card__side--back-2">
				  <div class="card__cta">
					<div class="card__price-box">
					  <p class="card__price-only">HTML Project</p>
					  <p class="card__price-value">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
					</div>
					<a href="#popup" class="btn btn--white">View More</a>
				  </div>
				</div>
			  </div>
			</div>
	
			<div class="col-1-of-3">
			  <div class="card">
				<div class="card__side card__side--front-3">
				  <div class="card__title card__title--3">
					<!-- <i class="fas fa-rocket"></i> -->
					<h4 class="card__heading">C++ Project</h4>
				  </div>
	
				  <div class="card__details">
					<ul>
					  <li>C++ Projects</li>
					</ul>
					<img class="imgg" src="c.png" width="300px">
				  </div>
				</div>
				<div class="card__side card__side--back card__side--back-3">
				  <div class="card__cta">
					<div class="card__price-box">
					  <p class="card__price-only">C++</p>
					  <p class="card__price-value">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</p>
					</div>
					<a href="#popup" class="btn btn--white">View More</a>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</section>
	  </body>
	</html>

<!-- Some KeyWords related to topic -->
	<!-- <div class="course">
		<div class="cbox">
		<div class="det"><a href="#digital">Digital Logic</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Sequential_logic" target="_blank">Combinational & Sequential Circuits</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/ALU" target="_blank">Computer Arithmetic</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Boolean_algebra" target="_blank">Boolean Algebra</a></div>
		<div class="det"><a href="computer_courses.html#algo">Algorithm</a></div>
		<div class="det"><a href="computer_courses.html#data">Data Structures</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#compiler">Compiler Design</a></div>
		<div class="det"><a href="#os">OS</a></div>
		<div class="det"><a href="#coaa">Computer Organization & Architecture</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/IPv4" target="_blank">IPv4 / IPv6</a></div>
		<div class="det"><a href="#cn">Computer Networks</a></div>
		<div class="det"><a href="#database">Databases</a></div>
		<div class="det"><a href="https://en.wikipedia.org/wiki/Theory_of_computation" target="_blank">Theory of Computation</a></div>
		</div>
		<div class="cbox">
		<div class="det"><a href="#math">Discrete Mathematics</a></div>
		<div class="det"><a href="#math">Calculus</a></div>
		<div class="det"><a href="#math">Linear Algebra</a></div>
		<div class="det"><a href="#math">Trigonometry</a></div>
		<div class="det"><a href="#math">Integration</a></div>
		<div class="det"><a href="#math">Matrices</a></div>
		<div class="det"><a href="#math">Probability</a></div>
		<div class="det"><a href="#math">Differentiation</a></div>
		</div>
	</div> -->


<!-- Courses Available -->
	

<!-- FOOTER -->
