<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QUIZ APP </title>
    <link rel="stylesheet" href="/css/quiz.css">
</head>
<body> 
    <div class="start_btn"><button>Start Quiz</button></div>
   <div class="info_box">   
    </div>

    
    <div class="quiz_box">
        <header>
            <div class="title"> Quiz Application</div>
        </header>
        <section>
            <div class="que_text">
            </div>
            <div class="option_list">
            </div>
            <button id="right">Correct</button>
            <button id="wrong">Incorrect</button> 
        </section>
        <footer>
            <div class="total_que">
            </div>
            <button class="next_btn">Next Que</button>
        </footer>
    </div>
    <div class="result_box">
        <div class="icon">
            <i class="fas fa-crown"></i>
        </div>
        <div class="complete_text">You've completed the Quiz!</div>
        <div class="score_text">
        </div>
        <div class="buttons">
            <button class="restart">Replay Quiz</button>
            <button class="quit">Quit Quiz</button>
        </div>
    </div>
    <script src="/js/quiz.js"></script>

</body>
</html>