<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/users.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>

</head>
<body>
    <header>
        <nav class="navbar">
                <div class="logo"><img src="/images/logo.png" alt="logo"></div>
                <ul>
                    <li><a class="active" href="/">Home</a></li>
            <li><a class="link" href="/contactus">Contact Us</a></li>
            <% if (user) { %>
              <li><a class="link" href="/user/profile">Profile</a></li>
              <% if (user.role === 'ADMIN') { %>
                <li><a class="link" href="/admin/users">Manage Users</a></li>
                <% } %>
                <% if (user.role === 'STUDENT') { %>
                  <li><a class="link" href="/user/notes">Notes</a></li>
                  <% } %>
                <% if (user.role === 'TEACHER') { %>
                  <li><a class="link" href="/user/teacher">Teacher</a></li>
                  <% } %>
                <li><a class="link" href="/auth/logout">Logout</a></li>
                <% } else { %>  
                </ul>
          <div>
                <a class="get-started" href="/auth/register">Signup</a>
          <a class="get-started" href="/auth/login">Login</a>
          <% } %>
          </div>
            </nav>
      </header>
      <main class="main">
          <% users.forEach(user => { %>
            <section class="container">
            <div class="card">
            <img src="/images/profile.webp" alt="" class="card__image">
            <div class="card__text">
            Name:<%= user.name %>
            <br>
            Role:<%= user.role %> 
            <br>
            Email:<%= user.email %>
            </div>
            <div class="card__action">
                <button class="card__action__button card__action--follow"><i class="fa-solid fa-video"></i>Call</button>
                <button class="card__action__button card__action--message"><i class="fa-solid fa-comments"></i>Message</button>
              </div>
            <br><br>
        </div>
            <% }) %>
            </section>
        </main>
</body>
</html>